h1{

    font-size:50px;
}

body{
    background-image:url("/static/img/okumono-art47.png");
    background-size: cover;

}

.table2{
    border-collapse: separate; 
    border:solid 2px;
    border-spacing: 0px;
    letter-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

th,td {
    border: solid 1px;  /* 枠線指定 */
    padding: 10px;      /* 余白指定 */
}


.table2_tr{
    background-color:#00e2cf; 
    border: solid 1px;
}

.q_a{
    text-align: center;
}